/*
	Theme Name: HealthPress HTML
	
	--------------------------------------------------------------------------------------------------------------------
	
		1. CSS RESET
        2. Base Body Styles
        3. General Styles
        4. General Layout
        5. WP Content Specific Styles
        6. Header Styles
        7. Slider Styles
        8. Homepage Styles
        9. Services Page Styles
        10. Doctors Page Styles
        11. Widget Styles
        12. Footer Area Styles
        13. Footer Bottom Styles
        14. Contact Page Styles
        15. Blog & Single Blog Page Styles
        16. Doctor
        17. Columns Style
        18. Content Tabs
        19. Content accordion
        20. Comments
        21. Comment Form 
		22. FAQ Template
		23. Gallery Template
		24. Isotope Styles
		25. Scroll Top

	------------------------------------------------------------------------------------------------------------------*/




/*-----------------------------------------------------------------------------------*/
/*	1. CSS RESET
/*  http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, 
time, mark, audio, video {	margin: 0; 	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1;}
ol, ul { list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0; }



/*-----------------------------------------------------------------------------------*/
/*	2. Base Body Styles
/*-----------------------------------------------------------------------------------*/
body{ background:#fff; color:#808080; font: 13px 'Open Sans', Arial, Helvetica, sans-serif; line-height:21px; }
p { font-size:13px; line-height: 21px; margin: 0px 0px 25px; }
ol li, 
ul li { font-size:13px; line-height: 21px; }
blockquote,
blockquote p { line-height: 21px; font-style: italic; }
h1,h2,h3,h4,h5,h6{ font-weight: 700; font-family: 'Open Sans', Arial, Helvetica, sans-serif; color: #6a6a75; }
h1{ font-size:30px;}
h2{ font-size:24px;}
h3{ font-size:18px; margin: 0px 0px 15px;}
h4{ font-size:16px;}
h5{ font-size:12px;}
h6{ font-size:10px;}
em{ font-style:italic; }
strong{ font-weight:bold; }
::-moz-selection { background: #3E96A9; color: #fff; text-shadow: none; }
::selection { background: #3E96A9; color: #fff; text-shadow: none; }
a { color: #4c595c; text-decoration: none; }
a:hover, a:focus { outline: none; color: #f56734;; }
a:hover, a:active { outline: 0; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
code { font-family:"Courier New", Courier, monospace; }
.display-ie8 { display:none; }
.ie7 .display-ie8,
.ie9 .display-ie8,
.ie8 .display-ie8{ display:block;}


/*-----------------------------------------------------------------------------------*/
/*	3. General Styles
/*-----------------------------------------------------------------------------------*/
.readmore { 
	display: inline-block; 
	height: 15px; 
	font-size: 13px; 
	line-height: 15px; 
	color: #fff;
	padding: 9px 15px; 
	border: none;
	cursor: pointer;		
	text-shadow: 1px 1px 0px #ae421b;	
	background-color: #f56734; 
	white-space: nowrap;	
  	text-decoration: none;
  	text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), to(rgba(0,0,0,0))); /* Saf4+, Chrome */
  	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Chrome 10+, Saf5.1+ */
  	background-image:    -moz-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* FF3.6 */
  	background-image:     -ms-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* IE10 */
  	background-image:      -o-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Opera 11.10+ */
  	background-image:         linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0));
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}
input.readmore { height: 33px; line-height: 33px; padding: 0px 15px; }
.readmore:hover, 
.readmore:focus, 
.readmore:active {
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(0,0,0,.1))); /* Saf4+, Chrome */
  	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* Chrome 10+, Saf5.1+ */
  	background-image:    -moz-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* FF3.6 */
  	background-image:     -ms-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* IE10 */
  	background-image:      -o-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* Opera 11.10+ */
  	background-image:         linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1));

}
textarea,
input[type="text"] { padding: 8px; font: 13px 'Open Sans', Arial, Helvetica, sans-serif; line-height: 16px; color: #808080; border: none; background-color: #fff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 1px 1px 2px #c4c4c4; -moz-box-shadow: 1px 1px 2px #c4c4c4; -webbox-shadow: 1px 1px 2px #c4c4c4; }
input[type="text"] { height: 16px; }
.alignleft { float: left; margin: 0px 30px 30px 0px;  }
.img-border { border: 4px solid #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.img-border:hover { border-color:#d6d6d6; }
#content  img{ max-width:100%; }
strong{ font-weight:bold; }
blockquote {  background: #f8f8f8 ; padding: 25px 25px 25px 55px; margin: 0px 0px 25px 0px;}
blockquote:before{
	content: "\f10d";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 30px;
	margin-left: -40px;
	margin-top: -5px;
	float: left;
}
blockquote p{ font-size:16px; font-style:italic; line-height: 24px; margin: 0px; }
#content ul,#content ol{ margin:0px 0px 20px;}
#content ul li{ background:url(images/li-bullet.png) no-repeat 5px 18px; border-bottom:1px dashed #d4d4d4; padding:10px 0px 10px 15px; }
#content ol li{ background:none; border-bottom:1px dashed #d4d4d4; padding:10px 0px 10px 5px; list-style:decimal inside; }
.colored{ color:#f56734; }
.colored-blue{ color:#3e96a9; }
#content h1,#content h2,#content h3{ margin-bottom:10px; }
#content h4,#content h5,#content h6{ margin-bottom:10px; }
#content header h1 { font-size:18px; }

p.error{ padding: 10px 20px 10px 45px; background: #F9E5E6 url(images/icon-box-error.png) no-repeat 12px 12px; border: 1px solid #F7C7C9; border-left-width: 2px; color: #B3696C;}
p.success{padding: 10px 20px 10px 45px;  background: #e3ebc6 url(images/icon-box-success.png) no-repeat 12px 12px; border: 1px solid #c2d288; border-left-width: 2px; color: #8fa442; }
p.info{ padding: 10px 20px 10px 45px; background: #d8ecf5 url(images/icon-box-info.png) no-repeat 12px 12px; border: 1px solid #9ac9df; border-left-width: 2px; color: #528da9; }
p.notice{ padding: 10px 20px 10px 45px; background: #fcf7d9 url(images/icon-box-notice.png) no-repeat 12px 12px; border: 1px solid #f5dc7d; border-left-width: 2px; color: #c4a21b; }
table { width: 100%; padding: 0; margin: 0 0 20px 0; font-size: 11px; border-top-style: solid; border-top-width: 1px;}
table caption { padding: 0 0 5px 0;	width: auto; font-style:italic;	text-align: right; }
th { font-weight:bold; letter-spacing: 1.5px; line-height: 1.5em; text-transform: uppercase; text-align: left;	padding: 6px 6px 6px 12px;	border-style: solid; border-width: 1px;	border-left:none; border-top:none; }
td { font-size: 12px; padding: 6px 6px 6px 12px; border-style: solid; border-width: 1px; border-left:none; border-top:none; }
tr th:first-child, tr td:first-child{ border-left-style: solid;	border-left-width: 1px; }
#top th.nobg { background: none; border-top: 0; }
.readmore, 
.widget #searchform input[type="submit"], 
.widget #mc_signup #mc_signup_submit, 
#commentform input[type="submit"], 
footer .footer-widget a.readmore, 
footer .footer-widget a.readmore:hover, 
.readmore:hover, 
.widget #searchform input[type="submit"]:hover, 
.widget #mc_signup #mc_signup_submit:hover, 
#commentform input[type="submit"]:hover { font-family:'Open Sans', Arial, Helvetica, sans-serif; }


/*-----------------------------------------------------------------------------------*/
/*	4. General Layout
/*-----------------------------------------------------------------------------------*/
#wrapper { }
#header { width: 980px; min-height: 150px; height:auto !important; height: 150px; margin: 0px auto; position: relative; }
#container { width: 980px; margin: 0px auto; }
#content { width: 645px; float: left; margin: 0px 0px 50px; }
.home-left-side #content{ margin-bottom:0px; }
#content.full-width{ width:980px; }
#sidebar { width: 308px; float: right; margin: 0px 0px 50px; }



/*-----------------------------------------------------------------------------------*/
/*	5. WP Content Specific Styles
/*-----------------------------------------------------------------------------------*/
.aligncenter{ display:block; margin:10px auto 0px; clear:both; }
.alignleft { float: left; margin:10px 10px 0px 0px; }
.alignright { float: right; margin:10px 0px 0px 10px; }
.wp-caption { background: #fff; border: 1px solid #EDEDED; max-width: 96%; padding: 5px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin:0; max-width: 98.5%; padding:0; width: auto; }
.wp-caption p.wp-caption-text { font-size:11px; line-height:17px; margin:0; padding:0 4px 5px; }
.sticky{}
.gallery-caption {}
.bypostauthor {}
.gallery { margin: 0 auto 18px; }
.gallery .gallery-item { float: left; margin-top: 0; text-align: center; width: 33%; }
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery img { box-shadow: 0px 0px 4px #999; border: 1px solid white; padding: 8px; background: #f2f2f2;}
.gallery img:hover { background: white; }
.gallery-columns-2 .attachment-medium {	max-width: 92%;	height: auto; }
.gallery-columns-4 .attachment-thumbnail { 	max-width: 84%; height: auto; }
.gallery .gallery-caption { color: #888; font-size: 12px; margin: 0 0 12px; }
.gallery dl, .gallery dt { margin: 0; }
.gallery br+br { display: none; }



/*-----------------------------------------------------------------------------------*/
/*	6. Header Styles
/*-----------------------------------------------------------------------------------*/
#logo-container{ min-height: 61px; height:auto !important; height: 61px; padding: 32px 0 16px 13px; }
#logo-container .logo img { display: block; margin: 0px 0px 4px; }
#logo-container .logo-heading { margin: 5px 0px 5px; }
#logo-container .logo-heading a{ color:#4aa0b1;  }
#logo-container .tagline { font-size: 12px; color: #b0b7b9; line-height: 14px; }
.ie7 #header { z-index:9500; }


	/*	6.1 Social Nav Styles ----------------------------------------------------------*/
	#header .social-nav { position: absolute; top: 31px; right: 0px; overflow: hidden; width:auto; display:inline-block; }
	#header .social-nav li { display:inline-block; vertical-align:middle; width: 41px; height: 41px; margin-left: 5px; border: 1px solid #dfdfdf;  border-radius: 22px; -moz-border-radius: 22px; -webkit-border-radius: 22px; }
	.ie7 #header .social-nav li { display:block; float:left; text-align: center;}
#header .social-nav li i{font-size: 19px;}
	#header .social-nav li a { display: inline-block; color: #B0B7B9; width: 100%; height: 41px; line-height: 43px; text-align: center;}

	#header .social-nav li.phone {width: 160px;  }
	#header .social-nav li.phone span { display:inline-block; padding: 0px 15px 0px 8px; font-size: 14px; color: #B0B7B9; line-height: 41px; }
	#header .social-nav li.phone:hover i{ color:#f56734; }
#header .social-nav li.phone i{font-size: 30px; vertical-align: middle; margin-top: -3px;
	margin-left: 13px;color: #B0B7B9;}
#header .social-nav li:hover i{color:#f56734;}
	/*	6.2 Main Nav Styles ----------------------------------------------------------*/
	.main-nav {
            position: relative;
            min-height: 41px;
            height:auto !important;
            height: 41px;
            width: 100%;
            padding: 0px 0px 0px 0px;
            background-color:#46a1b4;
            background-clip: padding-box;
            -moz-background-clip: padding-box;
            -webkit-background-clip: padding;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), to(rgba(0,0,0,0))); /* Saf4+, Chrome */
            background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* FF3.6 */
            background-image:     -ms-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* IE10 */
            background-image:      -o-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Opera 11.10+ */
            background-image:         linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0));
	}
	.ie7 .main-nav{ z-index:9600; }

    .page-template-template-home-with-blog-posts-php #header .main-nav,
	.page-template-template-home-with-sidebar-php #header .main-nav,
	.page-template-template-home-php #header .main-nav{ background-clip: padding-box; -moz-background-clip: padding-box; -webkit-background-clip: padding; border-radius: 3px 3px 0px 0px; -moz-border-radius: 3px 3px 0px 0px; -webkit-border-radius: 3px 3px 0px 0px; }

    .main-nav > div { float: left; }
	.main-nav > div > ul { float: left; }
	.ie7 .main-nav > div > ul { z-index:9700; }
	.main-nav > div > ul > li { float: left; border-right: 1px solid #54aec2; position: relative; }
	.main-nav > div > ul > li:first-child { border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; }
	.main-nav > div > ul > li:last-child { border: none; }
	.main-nav > div ul li a { display: inline-block; padding: 0px 20px; font-size: 13px; line-height: 41px; text-align: center; color: #fff; text-shadow: 1px 1px 0px #20606d; }
	.main-nav > div ul li:hover { background-color: #377f8f; background-clip: padding-box; -moz-background-clip: padding-box; }
	.main-nav > div ul li ul { display: none; width: 220px; padding: 12px 0px; background-color: #377f8f; position: absolute; top: 41px; left: 0px; z-index: 8899; border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; }
	.ie7 .main-nav > div ul li ul{ z-index:9800; }
	.main-nav > div ul li ul li { width: 196px; height: auto; padding: 0px 12px; position: relative; }
	.main-nav > div ul li ul li a { display: inline-block; line-height: 34px; padding: 0px 9px; text-align: left;  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	.main-nav > div ul li ul li:hover { background-color: #2c6774; }
	.main-nav > div ul li ul li ul { top: -12px; left: 220px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
	.ie7 .main-nav > div ul li ul li ul { z-index:9900; }
	.main-nav .responsive-nav { display: none; width: 91%; margin:10px auto 0px; padding:5px; border:1px solid #CCC; }
	
	/*	6.3 Search Form Styles ----------------------------------------------------------*/
	.main-nav #topsearch { width: 200px; position: absolute; right:11px; top:7px;}
	.main-nav #topsearch #tsearch { width: 158px; padding: 5px 35px 5px 10px; position: relative; background-color: #377f8f; border: 1px solid #236779; border-bottom: 1px solid #57b4c5; border-right: 1px solid #57b4c5; color: #c4e2e9; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: none; }
	.main-nav #topsubmit,
	.main-nav .fa-search{ position: absolute; top: 6px; right: 0px; width: 16px; height: 16px;  cursor: pointer; color: #c4e2e9;}

.main-nav #topsubmit{
	background: none;
	border: none;
	z-index: 9;
}
.main-nav #topsubmit:hover + .fa-search{
	color: #fff;
}
/*-----------------------------------------------------------------------------------*/
/*	7. Slider Styles
/*-----------------------------------------------------------------------------------*/
#slider-wrap { width: 980px; height: 522px; margin: 0px auto 40px; position: relative; overflow: hidden; }
#slider-wrap .slides { position: relative; height: 445px; overflow: hidden; }
#slider-wrap .slides li { width: 100%; height: 445px; text-align: center; }
#slider-wrap .slide-nav { 
						overflow: hidden; 
						background-color:#f15a23; 
						height: 77px; 
						width: 980px; 
						margin: 0px auto;
						border-radius: 0px 0px 5px 5px; 
						-moz-border-radius: 0px 0px 5px 5px;
						-webkit-border-radius: 0px 0px 5px 5px;
						background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), to(rgba(0,0,0,0))); /* Saf4+, Chrome */
						background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Chrome 10+, Saf5.1+ */
						background-image:    -moz-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* FF3.6 */
						background-image:     -ms-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* IE10 */
						background-image:      -o-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Opera 11.10+ */
						background-image:         linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0));
												 
						}

#slider-wrap .slide-nav li { width: 166px; height: 60px; padding: 17px 10px 0px 19px; border-right: 1px solid #fd7b4d; float: left; cursor: pointer; }

#slider-wrap .slide-nav.slides-5 li { width: 166px; }
#slider-wrap .slide-nav.slides-4 li { width: 215px; }
#slider-wrap .slide-nav.slides-3 li { width: 296px; }
#slider-wrap .slide-nav.slides-2 li { width: 460px; }
#slider-wrap .slide-nav.slides-1 li { width: 950px; }

#slider-wrap .slide-nav li:hover{ background-color: #ec490d; }

#slider-wrap .slide-nav li:last-child { border: none; }
#slider-wrap .slide-nav li.flex-active { background-color: #ec490d; }

#slider-wrap .slide-nav li h4 { font-size: 14px; color: #fff; text-shadow: 1px 1px 0px #be4214; margin: 0px 0px 5px; }
#slider-wrap .slide-nav li p { font-size: 12px; color: #fad7cb; }



/*-----------------------------------------------------------------------------------*/
/*	8. Homepage Styles
/*-----------------------------------------------------------------------------------*/
.slogan { margin: 0px 0px 35px; text-align: center; }
.slogan h2 {  font-size:30px; line-height:41px; font-weight: 300; color: #3e96a9; margin: 0px 0px 10px; }
.smart-head { font-size:30px; line-height:41px; font-weight: 300; color: #56adc0; margin: 0px; }
.slogan h3 { font-size: 18px; color: #819093; font-weight: 500; }
	
	/*	8.1 Services Styles ----------------------------------------------------------*/
	.services { overflow: hidden; padding: 0px 0px 35px; border-bottom: 1px solid #e6e6e6; margin: 0px 0px 10px; }
	.services .service { width: 180px; margin: 0px 8px; float: left; text-align: center; }
	.services .service h4 { margin: 0px 0px 10px; }
	.services .service:hover h4 a { color: #f56734; }
	.services .service figure { width: 112px; height: 112px; margin: 0px auto 20px; overflow: hidden; position:relative; }
	.services .service figure img { position: absolute; top:0px; left:0px; }
	.services .service:hover figure img { bottom:0px; top:auto; }	
	
	/*	8.2 Team Styles ----------------------------------------------------------*/
	.official { clear: both; }
	.home-left-side { width:600px; float:left; }
	.official .team { width: 672px; float: left; margin: 0px 0px 60px; }
	.official .team p { margin: 0px 0px 25px; }
	.official .team .doctors li { width: 194px; float: left; margin: 0px 30px 0px 0px; position: relative; }
	.official .team .doctors li h4 { color: #586467; margin: 0px 0px 15px; }
	.official .team .doctors li .doc-img { position: relative; width: 186px; height: 148px; margin: 0px 0px 20px; border: 4px solid #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
	.official .team .doctors li .doc-img:hover { border-color:#d6d6d6; }
	.official .team .doctors li .doc-img img { display: block; position: relative; }
	
	/*.official .team .doctors li .doc-img .img-hover { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: url(images/doc-img-hover.png); }
	.official .team .doctors li .doc-img:hover .img-hover { display: block; }*/
	
	.official .team .doctors li .doc-img .doc-type { display: inline-block; position: absolute; right: 0px; bottom: 0px; padding: 5px 12px; background: url(images/doc-figure-caption-bg.png); font-size: 12px; color: #fff; }
	.official .team .doctors li .doc-img .doc-type a:hover{ color:#ddd; }
	
	/*	8.3 Appointment Styles ----------------------------------------------------------*/
	.appointment { width: 308px; float: right; padding: 0px 0px 12px; margin: 0px 0px 55px; background-color: #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
	.appointment .header { 
					height: 99px; 
					padding: 10px 23px 0px; 
					margin: 0px 0px 30px; 
					/*background:#3e96a9 url(images/appointment.png) repeat-x; */
					background-color:#3e96a9;
					border-radius: 3px; 
					-moz-border-radius: 3px; 
					-webkit-border-radius: 3px; 
					background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.2)), to(rgba(0,0,0,0))); /* Saf4+, Chrome */
					background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0)); /* Chrome 10+, Saf5.1+ */
					background-image:    -moz-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0)); /* FF3.6 */
					background-image:     -ms-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0)); /* IE10 */
					background-image:      -o-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0)); /* Opera 11.10+ */
					background-image:         linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0));
					}
	.appointment .header h2,
	.appointment .header h3.number { font-size: 24px; line-height: 40px; color: #ffffff; text-shadow: 1px 1px 0px #2a6a79; font-weight: normal; }
	.appointment .header h3.number { padding: 0px 0px 0px 45px; background: url(images/phone-icon.png) left center no-repeat; margin: 0px; }
	.appointment .header .or { display: block; width: 100%; height: 35px; background: url(images/or-bg.png) center center no-repeat; font-size: 14px; color: #fff; text-align: center; line-height: 35px; }
	.appointment #appoint-form { padding: 0px 38px 0px 31px; }
	.appointment #apo-loader { display:none; }
	.appointment #apo-message-sent { display:none; }
	.appointment p { margin: 0px 0px 17px; }
	.appointment p input[type="text"] { width: 96%; }
	.appointment p textarea { width:96%; }
	.appointment p #apo_month_input { width: 131px; margin-right: 10px; }
	.appointment p #apo_day_input { width: 61px; }
	.appointment p #apo_center_input { width: 171px; }		
	.appointment .error-container label{ display:block; color:red; font-style:italic; }
	.appointment input.error, .appointment textarea.error { border:1px solid red; }
	.select-wrap { display: inline-block; position: relative; }
	.selectbox { background: url(images/dd-arrow.png) right 13px no-repeat #fff; cursor: pointer; }
	.selectbox-wrapper { padding:5px 0px; width: 120px; position: absolute; top: 31px; left: 0px; z-index: 9999; background-color: #fff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
	.selectbox-wrapper ul { width: 100%; }
	.selectbox-wrapper ul li { padding: 5px 13px; height: 22px; cursor: pointer; }
	.selectbox-wrapper ul li:hover { background-color: #f1f1f1; }
	.feedback { overflow: hidden; margin: 0px 0px 60px; clear: both; }
	
	/* 8.4 Testimonials Styles ----------------------------------------------------------*/
	.testi { width: 637px; float: left; padding: 0px 35px 0px 0px; }
	.testi .patients { margin: 35px 0px 0px; overflow: hidden; }
	.testi .patients li { overflow: hidden; }
	.testi .patients li .imgbox { width: 77px; height: 77px; border: 3px solid #e6e6e6; float: left; margin: 0px 18px 27px 0px; border-radius: 40px; -moz-border-radius: 40px; -webkit-border-radius: 40px; }
	.testi .patients li .imgbox:hover { border-color:#d6d6d6; }
	.testi .patients .detail blockquote:before{content: ""; }
	.testi .patients .detail blockquote { margin: 0px 0px 15px; background: none; padding:0; }
	.testi .patients .detail blockquote p { font-size: 16px; line-height: 24px; }
	.testi .patients .detail blockquote p span { color: #61b3c4; }
	.testi .patients .detail .author a { color: #f35f2a; }
	.testi .patient-nav { margin: 0px 0px 0px 95px; }
	.testi .patient-nav span { display: inline-block; height: 19px; width: 19px; margin: 0px 0px 0px 3px; cursor: pointer;     color: #61b3c4; }
.testi .patient-nav span{font-size: 19px;}
	.testi .patient-nav .t_right { background-position: right top; }
	.testi .patient-nav .t_left:hover { background-position: left bottom; }
	.testi .patient-nav .t_right:hover { background-position: right bottom; }

    #testimonials-template .patients blockquote:before{ content: ""; }
    #testimonials-template .patients li { background: none; padding: 0; margin: 0 0 20px 0; border: 0; }
    #testimonials-template .patients li .imgbox { width: 77px; height: 77px; border: 3px solid #e6e6e6; float: left; margin: 0px 15px 10px 0px; border-radius: 40px; -moz-border-radius: 40px; -webkit-border-radius: 40px; }
    #testimonials-template .patients li .imgbox:hover { border-color:#d6d6d6; }
    #testimonials-template .patients .detail blockquote { margin: 0px 0px 15px; background: none; padding:0; }
    #testimonials-template .patients .detail blockquote p { font-size: 16px; line-height: 24px; }
    #testimonials-template .patients .detail blockquote p span { color: #61b3c4; }
    #testimonials-template .patients .detail .author a { color: #f35f2a; }
	
	/* 8.5 Newsletter Styles ----------------------------------------------------------*/
	.newsletter { width: 308px; }
	.newsletter p { margin: 0px 0px 25px; }
	.newsletter #newsletter { padding: 20px 20px 10px; background-color: #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
	.newsletter #newsletter p { margin: 0px 0px 15px; }
	.newsletter #newsletter input[type="submit"] { margin: 0px 0px 0px 10px; vertical-align: bottom; }
	.newsletter #newsletter .error-container label{ display:block; color:red; font-style:italic; }
	
	/* 8.6 Twitter Styles ----------------------------------------------------------*/
	.hp_twitter { clear: both; padding: 12px 0px 15px; width: 100%; margin: 60px 0px -3px; position: relative; background: url(images/twitter-bg.png) repeat-x #4099ac; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
	.hp_twitter p.tweet { background: url(images/tweety-bird.png) 15px center no-repeat; padding: 12px 20px 12px 82px; line-height: 18px; color: #fff; margin: 0px; }
	.hp_twitter p.tweet a { color: #fff; text-decoration: underline; }
	.hp_twitter .tweet-nav { position: absolute; right: 18px; top: 21px; width: 48px; }
	.hp_twitter .tweet-nav a { display: inline-block; height: 19px; width: 19px; margin: 0px 0px 0px 3px; background: url(images/arrows-blue.png) no-repeat; }
	.hp_twitter .tweet-nav .right { background-position: right top; }
	.hp_twitter .tweet-nav .left:hover { background-position: left bottom; }
	.hp_twitter .tweet-nav .right:hover { background-position: right bottom; }
	
	/* 8.7 New Twitter Styles ----------------------------------------------------------*/
	#twitter_update_list { 
				clear: both; 
				padding: 12px 0px 12px; 
				width: 100%; 
				margin: 60px 0px -3px; 
				position: relative; 
				background-color:#4099ac; 
				border-radius: 3px; 
				-moz-border-radius: 3px; 
				-webkit-border-radius: 3px; 
				background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.2)), to(rgba(0,0,0,0))); /* Saf4+, Chrome */
				background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0)); /* Chrome 10+, Saf5.1+ */
				background-image:    -moz-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0)); /* FF3.6 */
				background-image:     -ms-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0)); /* IE10 */
				background-image:      -o-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0)); /* Opera 11.10+ */
				background-image:         linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,0));
	}
	#twitter_update_list li { background: url(images/tweety-bird.png) 15px center no-repeat; padding: 12px 20px 12px 82px; line-height: 18px; color: #fff; margin: 0px; }
	#twitter_update_list li a { color: #fff; text-decoration: underline; }




/*-----------------------------------------------------------------------------------*/
/*	9. Services Page Styles
/*-----------------------------------------------------------------------------------*/
.page-head { width:910px; padding: 30px 35px 30px; margin: 0 auto 50px; border-bottom: 1px solid #ededed; }
.page-head h2 { font-size: 48px; font-weight: 300; text-align: center; color: #819093; line-height:normal; }
.page-head h2 span { font-weight: 800; color: #f56734; }
.page-head h5{ font-size: 13px; line-height:21px; color: #a9a9a9; font-style: italic; text-align: center; font-weight: normal; }
.page-head .education{ text-align:center; margin:5px 0px;}
	
	/* 9.1 Services List Styles ----------------------------------------------------------*/
	.service-list { }
	.service-list h3 { font-weight: 700; color: #586467; }
	.service-list h3 a { color: #586467; }
	.service-list h3 a:hover, .service-list h3 a:focus { color: #f66937; }
	.service-list p { margin: 0px 0px 25px; }
	
	/* 9.2 Single Column Styles ----------------------------------------------------------*/
	.service-list.single-col ul { overflow: hidden; padding-top:35px; }
	.service-list.single-col ul li { overflow: hidden; padding: 0px 0px 35px; margin: 0px 0px 35px; border-bottom: 1px solid #e6e6e6; }
	.service-list.single-col figure { width: 424px; height: 180px; position: relative; line-height: 0px; float: left; overflow: hidden; margin: 0px 30px 30px 0px; border: 4px solid #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
	.service-list.single-col figure:hover { border-color:#d6d6d6; }
	.service-list.single-col figure img { width: 424px; height: 180px; }
	
	/* 9.3 Three Columns Styles ----------------------------------------------------------*/
	.service-list.three-col ul { margin: 0px 0px 0px -30px; overflow: hidden; }
	.service-list.three-col ul li { width: 306px; padding: 0px 0px 35px; margin: 0px 0px 35px 30px; float: left; }
	.service-list.three-col figure { width: 298px; height: 160px; margin: 0px 0px 20px 0px; line-height: 0px; border: 4px solid #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
	.service-list.three-col figure:hover { border-color:#d6d6d6; }
	.service-list.three-col figure img { width: 100%; height: auto; }
	
	/* 9.4 Four Columns Styles ----------------------------------------------------------*/
	.service-list.four-col ul { margin: 0px 0px 0px -30px; overflow: hidden; }
	.service-list.four-col ul li { width: 222px; padding: 0px 0px 35px; margin: 0px 0px 35px 30px; float: left; }
	.service-list.four-col figure { width: 214px; height:auto; line-height: 0px; margin: 0px 0px 20px 0px; border: 4px solid #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
	.service-list.four-col figure:hover { border-color:#d6d6d6; }
	.service-list.four-col figure img { width: 100%; height:auto; }



/*-----------------------------------------------------------------------------------*/
/*	10. Doctors Page Styles
/*-----------------------------------------------------------------------------------*/
#container .page_featured { margin: 0px 0px 60px; border: 5px solid #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#container .page_featured:hover { border-color:#d6d6d6; }
#container .page_featured img { display: block; width: 100%; }

	.doc_list { clear: both; }
	.doc_list { margin: 0px 0px 60px; }
	
	/* 10.1 Doctors List Styles ----------------------------------------------------------*/
	.doc_list .doctors { margin: 0px 0px 0px -30px; }
	.doc_list .doctors li { width: 474px; float: left; margin: 0px 0px 30px 30px; position: relative; }
	.doc_list .doctors li p { margin-bottom:20px; }
	.doc_list .doctors li h4 { color: #586467; margin: 0px 0px 15px; }
	.doc_list .doctors li .doc-img { position: relative; width: 214px; height: 170px; float: left; margin: 0px 20px 20px 0px; border: 4px solid #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
	.doc_list .doctors li .doc-img:hover{ border-color:#d6d6d6; }
	.doc_list .doctors li .doc-img img { display: block; position: relative; }
	.doc_list .doctors li .doc-img .img-hover { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: url(images/doc-img-hover.png); }
	.doc_list .doctors li .doc-img:hover .img-hover { display: block; }
	.doc_list .doctors li .doc-img .doc-type { display: inline-block; position: absolute; right: 0px; bottom: 0px; padding: 5px 12px; background: url(images/doc-figure-caption-bg.png); font-size: 12px; color: #fff; }
	.doc-type a{ color:#fff;}	
	.doc-type a:hover,
	.doc-type a:focus,
	.doc-type a:active{ color:#ddd; }
	
	/* 10.2 Four Columns Doctors Styles ----------------------------------------------------------*/
	.ie7 .doc_list .doctors{ margin-bottom:30px; }
	.doc_list.four_col .doctors li { width: 222px; float: left; margin: 0px 0px 60px 30px; position: relative; }
	.doc_list.four_col .doctors li .doc-img { position: relative; width: 214px; height: 170px; float: none; margin: 0px 0px 20px 0px; }
	.doc_list.four_col .doctors li .doc-img .doc-type { display: inline-block; position: absolute; right: 0px; bottom: 0px; padding: 5px 12px; background: url(images/doc-figure-caption-bg.png); font-size: 12px; color: #fff; }



/*-----------------------------------------------------------------------------------*/
/*	11. Widget Styles
/*-----------------------------------------------------------------------------------*/
#sidebar .widget { margin: 0px 0px 40px; }
#sidebar .widget h3.title{ font-size: 26px; font-weight: 300; color: #56adc0; }
#sidebar .widget ul { }
#sidebar .widget ul li { padding: 7px 0px 6px; border-bottom: 1px solid #ececec; padding-left: 17px; background: url(images/arrow.jpg) 1px 15px no-repeat; }
#sidebar .widget ul li > ul li,
#sidebar .widget ul li .children li { border-bottom:none;}
#sidebar .selectbox-wrapper ul li { padding: 5px 13px; border-bottom:none; }
.widget #searchform{ padding: 10px; background-color: #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.widget #searchform .screen-reader-text { display:none; }
.widget #searchform p{ margin-bottom:0px;}
.widget #searchform input[type="submit"] { 
	text-transform:capitalize; 
	margin: 0px 0px 0px 10px; 
	vertical-align: bottom; 
	display: inline-block; 
	font-size: 13px;
	height: 33px; 
	line-height: 33px; 
	padding: 0px 15px; 
	color: #fff;
	border: none;
	cursor: pointer; 
	text-shadow: 1px 1px 0px #ae421b;
	background-color: #f56734;
	white-space: nowrap;	
  	text-decoration: none;
  	text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), to(rgba(0,0,0,0))); /* Saf4+, Chrome */
  	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Chrome 10+, Saf5.1+ */
  	background-image:    -moz-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* FF3.6 */
  	background-image:     -ms-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* IE10 */
  	background-image:      -o-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Opera 11.10+ */
  	background-image:         linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	
}

.widget #searchform input[type="submit"]:hover,
.widget #searchform input[type="submit"]:focus,
.widget #searchform input[type="submit"]:active{ 
	color: #fff; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(0,0,0,.1))); /* Saf4+, Chrome */
  	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* Chrome 10+, Saf5.1+ */
  	background-image:    -moz-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* FF3.6 */
  	background-image:     -ms-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* IE10 */
  	background-image:      -o-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* Opera 11.10+ */
  	background-image:         linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1));
}

.widget #mc_signup{   }
.widget #mc_signup #mc_subheader { margin:0 0 10px;}
.widget #mc_signup #mc_signup_form { padding:5px 10px; background-color: #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.widget #mc_signup .mergeRow{ padding:5px 10px;}
.widget #mc_signup label{ display:block; font-weight:bold; margin:0 0 5px;}
.widget #mc_signup .mc_list label{ display:inline-block; font-weight:normal; margin:0;}
.widget #mc_signup input[type="text"] { width:87%; margin:0 0 10px; }
.widget #mc_signup input.mc_input.mc_phone{ width:10%; }
.widget #mc_signup .mc_list li{ background:none; padding:5px 0px 5px 10px; border:none;}
.widget #mc_signup #mc_signup_submit{ 
		text-transform:capitalize; 
		margin: 0px 0px 5px 0px; 
		vertical-align: bottom; 
		display: inline-block; 
		font-size: 13px; 
		color: #fff;
		border: none;
		cursor: pointer;		
		height: 33px; 
		line-height: 33px; 
		padding: 0px 15px; 
		text-shadow: 1px 1px 0px #ae421b;
		background-color: #f56734;
		white-space: nowrap;	
		text-decoration: none;
		text-align: center;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), to(rgba(0,0,0,0))); /* Saf4+, Chrome */
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Chrome 10+, Saf5.1+ */
		background-image:    -moz-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* FF3.6 */
		background-image:     -ms-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* IE10 */
		background-image:      -o-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Opera 11.10+ */
		background-image:         linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); 
		border-radius: 3px; 
		-moz-border-radius: 3px; 
		-webkit-border-radius: 3px; 
}
.widget #mc_signup #mc_signup_submit:hover,
.widget #mc_signup #mc_signup_submit:focus,
.widget #mc_signup #mc_signup_submit:active{ 
	color: #fff; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(0,0,0,.1))); /* Saf4+, Chrome */
  	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* Chrome 10+, Saf5.1+ */
  	background-image:    -moz-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* FF3.6 */
  	background-image:     -ms-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* IE10 */
  	background-image:      -o-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* Opera 11.10+ */
  	background-image:         linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); 
}
.widget #mc_signup #mc_display_rewards{ display:none;  }
.widget #mc_signup #mc_message{ padding:5px 0;}
.widget #mc_signup .mc_signup_submit{ text-align:left; }
.widget #mc_signup #mc-indicates-required{ margin:0px 0px 10px 0px;}
.widget #mc_signup select{ position:relative; padding:5px; margin-bottom:15px; }
.widget #mc_signup br{ display:none; }

.widget .sidebar-post{ border-bottom:1px solid #ececec; padding:0px 0px 15px; margin:0px 0px 15px 10px;}
.widget .sidebar-post img{ float:left; margin:3px 10px 10px 0;}
.widget .sidebar-post .sidebar-post-text a{ display:block; font-size:13px; color:#95959c; }
.widget .sidebar-post .sidebar-post-text a:hover{ color:#65656C; }
.widget .sidebar-post .sidebar-post-text .date{ font-size:11px; font-style:italic; color:#b8b8c1; }



/*-----------------------------------------------------------------------------------*/
/*	12. Footer Area Styles
/*-----------------------------------------------------------------------------------*/
#footer-wrap { width: 100%; background:#2b2e2f; position: relative; }
footer { width: 980px; margin: 0px auto; }
footer { padding: 60px 0px; }
footer .footer-widget { width: 222px; float: left; margin: 0px 30px 0px 0px; }
footer .footer-widget:last-child { margin-right: 0px; }
footer .footer-widget h3 { font-size: 24px; font-weight: 300; color: #e6e6e6; margin: 0px 0px 30px; }
footer .footer-widget p { margin: 0px 0px 21px; }
footer .footer-widget a, 
footer .footer-widget span { color: #cdcdcd; }
footer .footer-widget a:hover, 
footer .footer-widget a:focus { color: #48a2b6 ; }
footer .footer-widget ul li { line-height: 25px; padding: 0px 0px 0px 11px; background: url(images/footer-bullit.png) left 12px no-repeat; }
.footer-widget .widget { margin-bottom:40px; }

.footer-widget .widget .sidebar-post{ border-bottom:1px dashed #808080; }
.footer-widget .widget .sidebar-post .sidebar-post-text a{ color:#cdcdcd; }
.footer-widget .widget .sidebar-post .sidebar-post-text a:hover,
.footer-widget .widget .sidebar-post .sidebar-post-text a:focus,
.footer-widget .widget .sidebar-post .sidebar-post-text a:active{ color:#48a2b6; }
.footer-widget .widget .sidebar-post .sidebar-post-text .date{ color:#b8b8c1; }



/*-----------------------------------------------------------------------------------*/
/*	13. Footer Bottom Styles
/*-----------------------------------------------------------------------------------*/
#footer-bottom-wrapper {  width: 100%; background:#1c1e1f; }
#footer-bottom { width: 980px; margin: 0px auto; min-height: 47px; height:auto !important; height: 47px; }
#footer-bottom p { line-height: 47px; margin: 0px; }
#footer-bottom p a:hover, 
#footer-bottom p a:focus { color: #fff; }
#footer-bottom .copyrights { float: left; }
#footer-bottom .author { float: right; }



/*-----------------------------------------------------------------------------------*/
/*	14. Contact Page Styles
/*-----------------------------------------------------------------------------------*/
#map_canvas{ border:4px #e6e6e6 solid; width:637px; height:250px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin:0px 0px 15px; }
#map_canvas:hover { border-color:#d6d6d6; }
#content address{ color:#a3a3a9; font-size:13px; line-height:21px; }
.contact-form-container{ margin:60px 0px;}
#contact-form{}
#contact-form input[type=text],
#contact-form textarea{ border:1px solid #dcdcdc; color:#bcbcbc; font: 12px 'Droid Sans', Arial, Helvetica, "Trebuchet MS", sans-serif; outline:none; }
#contact-form input[type=text].error,
#contact-form textarea.error{ border:1px solid red;}
#contact-form input[type=text]:focus,
#contact-form textarea:focus{ color:#adadad; }
#contact-form input[type=text]{ width:250px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow:none; -moz-box-shadow:none; -webbox-shadow:none;}
#contact-form textarea{ width:561px; padding:5px; margin-bottom:15px; box-shadow:none; }
#contact-loader { vertical-align: middle; margin-left:20px; display:none; }
#message-sent { margin: 10px 0px; color:red; display:none; }
.form-cell{ width:305px; float:left; margin:0px 0px 20px;}
.form-cell span{ color:#d7332c; display:inline-block; margin-left:5px; }
#contact-form .submit{ margin-bottom:15px;}
#contact-form .error-container label{ display:block; color:red; font-style:italic; }
.contact-widget{ font:13px 'Droid Sans', Arial, Helvetica, "Trebuchet MS", sans-serif; line-height:21px;}
.contact-widget p{ margin:20px 10px; color:#95959c; }
.contact-widget hr{ border:none; height:1px; background:#e6e6e6;}
.contact-widget a { color:#95959c; }
.contact-widget a:hover,.contact-widget a:focus{ color:#65656c; }

.captcha-container{ margin:0 0 20px; }
.captcha-container img{ vertical-align:top; margin:0 5px; }
#wrapper .captcha-container .captcha{ width:50px; font-size:14px;  }


.wpcf7-form input[type=text],
.wpcf7-form textarea{ border:1px solid #dcdcdc; color:#bcbcbc; font: 12px 'Droid Sans', Arial, Helvetica, "Trebuchet MS", sans-serif; outline:none; box-shadow: none; }
.wpcf7-form .wpcf7-submit{ padding: 5px 10px; }

/*-----------------------------------------------------------------------------------*/
/*	15. Blog & Single Blog Page Styles
/*-----------------------------------------------------------------------------------*/
#content article.hentry { border-bottom:1px solid #ededed; padding:0 0 10px; margin:0 0 35px; }
.home-left-side #content article.hentry { border-bottom:none; }
.page-template-template-faq-php #content article.hentry{ border-bottom:none; }
article.hentry .post-meta{ border-bottom:1px solid #ededed; padding:0px 0px 10px; margin-bottom:10px;}
.post-meta span{ display:inline-block; padding:0; margin:0px 20px 0px 0px; color:#757f83; font-size:12px;}
.post-meta span i{
	display: inline-block;
	color: #a9a9a9;
	margin-right: 8px;
	font-size: 14px;
}
.sidebar-post-text span.date i{
	display: inline-block;
	color: #a9a9a9;
	margin-right: 8px;
	font-size: 14px;
}
.post-meta span a{ color:#757f83;}
.post-meta .author{  }
.post-meta .date{ }
.post-meta .category{ }
.post-meta .tag{  }
article.hentry .post-thumb{ position:relative; height:auto; border: 4px solid #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin:0 0 15px; }
article.hentry .post-thumb:hover { border-color:#d6d6d6; }
.post-thumb img{ display:block; }
.post-thumb .comment-count{ position:absolute; top:0px; right:0px; background:#7b7b7b; padding:10px; }
.comment-count span{ display:inline-block;  color:#ededed; }
.comment-count span i{
	color: #ededed;
	margin-right: 8px;
}
.comment-count span a{ color:#ededed; }
#pagination{ text-align:center; margin:0 0 15px;}
#pagination .current{ font-weight:bold; color:#ededed;}
.pages-nav { font-weight:bold; color:#6A6A75; font-size:14px; }
.pages-nav a{ font-weight:normal; }


/*-----------------------------------------------------------------------------------*/
/*	16. Doctor
/*-----------------------------------------------------------------------------------*/
.doctor-img{ float:left; margin:0px 30px 0px 0px; width:230px; text-align:center; }
.doctor-img a i {
	display: inline-block;
	margin: 5px 3px 5px 0px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
	background-color: #ccc;
	border-radius: 50%;
	/* background: url(images/doc-facebook.png) no-repeat top left; */
}
.doctor-img a i:hover{
background: #F56734;
}
.doctor-img a.twitter{ display:inline-block; margin:5px 5px 5px 0px; width:22px; height:22px; }
.doctor-img a.facebook{ display:inline-block; margin:5px 5px 5px 0px; width:22px; height:22px;}
.doctor-page h5,
.doctor-page h4{ margin-bottom:5px; }



/*-----------------------------------------------------------------------------------*/
/*	17. Columns Style
/*-----------------------------------------------------------------------------------*/
#container .columns { margin: 0px 0px 0px -2%; overflow: hidden; }
#container .columns .one-third { width: 31.33%; margin: 0px 0px 0px 2%; float: left; }
#container .columns .two-third { width: 64.66%; margin: 0px 0px 0px 2%; float: left; }
#container .columns .one-fourth { width: 23%; margin: 0px 0px 0px 2%; float: left; }
#container .columns .three-fourth { width: 73%; margin: 0px 0px 0px 2%; float: left; }
#container .columns .one-half { width: 48%; margin: 0px 0px 0px 2%; float: left; }
#container .columns .single-col { width: 98%; margin: 0px 0px 0px 2%; }


/* ---------------------------------------- */
/*	18. Content Tabs
/* ---------------------------------------- */
#container #content .tabs-nav{ list-style: none; overflow: hidden; width: 100%; margin:0px; }
#container #content .tabs-nav li{ float: left; line-height: 32px; margin: 0; overflow: hidden; padding: 0; position: relative; border-bottom:none; background:none; }
#container #content .tabs-nav li.active { line-height: 31px; }
#container #content .tabs-nav li a { background: #f8f8f8; border: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; border-left: none; color: #808080; display: block; letter-spacing: 0; outline: none; padding: 0 16px; text-decoration: none; text-shadow: 0 1px 0 #fff; }
#container #content .tabs-nav li:first-child a { border-left: 1px solid #eaeaea; }
#container #content .tabs-nav li a:hover { background: #f0f0f0; }
#container #content .tabs-nav li a:hover, 
.tabs-nav li.active a { color: #F56734; }
#container #content .tabs-nav li.active a  { background: #fff; border-bottom: 2px solid #fff; border-top: 1px solid #F56734; }
#container #content .tabs-container { border: 1px solid #eaeaea; margin: -1px 0 20px; overflow: hidden; width: 100%;  }
#container #content .tabs-container .tab-content{ padding:10px; }



/* ---------------------------------------- */
/*	19. Content accordion
/* ---------------------------------------- */
#content .accordion { margin-bottom:20px; }
#content .accordion h5 { height: 35px; line-height: 35px; margin-bottom:1px; color: #6A6A75; background: #f4f4f4;  cursor: pointer; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-bottom:1px solid #dbdada; border-right:1px solid #dbdada;  border-left:1px solid #dbdada; /*box-shadow: 0px 1px 1px #dbdada; -moz-box-shadow: 0px 1px 1px #dbdada; -webbox-shadow: 0px 1px 1px #dbdada;*/ }
#content .accordion h5:first-child{ border-top:1px solid #dbdada;  }
#content .accordion h5 span { display: inline-block;  margin: 0 13px 0 13px; }
#content .accordion h5 span i{
	vertical-align: middle;
}
#content .accordion h5.current span i:before{
	content: "\f068";
}
#content .accordion h5.current { background-position: bottom; margin-bottom:0px;  }
#content .accordion h5.current span { background-position: bottom; }
#content .accordion .pane { display: none; background-color: #f8f8f8; overflow: hidden; padding: 20px; margin-bottom:0px; }
#content .accordion .pane p { margin: 0px; }
#content .accordion .pane.current { display: block;  margin-bottom:1px; }


/* --------------------------------------- */
/*	20. Comments
/* --------------------------------------- */
#comments {}
#comments #comments-title{}
#comments #reply-title { margin-bottom: 15px;  }
#comments .commentlist { margin: 20px 0 0; padding: 0 0 30px; overflow: hidden; }
#comments .comment { border:none; border-bottom: 1px dotted #dedede; list-style: none; margin:30px 0 0; padding:10px 0;  }
#comments .comment:first-child {  }
#comments .comment > article { margin: 0; overflow: hidden; }
#comments .comment .avatar { background: #fff; float: left; margin:0px 10px 10px 0; position: relative; z-index: 1; border-radius: 60px; -moz-border-radius: 60px; -webkit-border-radius: 60px;}
#comments .comment .comment-body, 
#comments .comment .comment-meta { float: right; margin:0; width: 560px; }
#comments .comment .comment-body p{ margin-bottom:10px; }
#comments .comment .comment-meta { margin-bottom: 0; }
#comments .comment .author { font-size:13px; }
#comments .comment .author, 
#comments .comment .author a { margin: 0; }
#comments .comment .author cite { font-style: normal; }
#comments .comment .author .comment-reply-link { font-size: 11px; }
#comments .comment .date, 
#comments .comment .date a, 
#comments .comment .date time { color: #b0b3b6; font-style: italic; margin: 1px 0 5px; } 
#comments .comment .date a:hover time { color: #f56734; }
#comments .commentlist .children { margin: 0; padding: 0 0 0 85px; position: relative; }
#comments .commentlist .children .comment { border-bottom:none; }
#comments .comment .children .comment:first-child {  }
#comments .commentlist .children .depth-2 .comment-body, 
#comments .commentlist .children .depth-2 .comment-meta { width: 475px; }
#comments .commentlist .children .depth-3 .comment-body, 
#comments .commentlist .children .depth-3 .comment-meta { width: 395px; }
#comments .commentlist .children .depth-4 .comment-body, 
#comments .commentlist .children .depth-4 .comment-meta { width: 315px; }
#comments .commentlist .children .depth-5 .comment-body, 
#comments .commentlist .children .depth-5 .comment-meta { width: 235px; }



/* --------------------------------------- */
/*	21. Comment Form
/* --------------------------------------- */
#respond { margin-top:30px; }
#respond #reply-title small{ font-weight:normal; font-size: 13px; font-weight: normal; display:inline-block; margin-left:10px; }
#commentform label{ font-weight:bold;}
#commentform span.required{ color:#f56734;}
#commentform textarea,
#commentform input[type=text]{ display:block; margin:5px 0 0; border:1px solid #dedede;  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow:none; }
#commentform input[type=text]{ width:50%;}
#commentform textarea { width:85%; padding:8px; color:#808080; font: 13px 'Open Sans', Arial, Helvetica, "Trebuchet MS", sans-serif; line-height: 21px; }
#commentform p.form-allowed-tags{ font-size:12px; }
#commentform input[type="submit"]{
		margin: 0px 0px 0px 0px; 
		vertical-align: bottom; 
		display: inline-block; 
		font-size: 13px; 
		color: #fff;
		height: 33px; 
		line-height: 33px; 
		padding: 0px 15px;
		border: none;
		cursor: pointer; 
		text-shadow: 1px 1px 0px #ae421b;
		background-color: #f56734;
		white-space: nowrap;	
		text-decoration: none;
		text-align: center;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), to(rgba(0,0,0,0))); /* Saf4+, Chrome */
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Chrome 10+, Saf5.1+ */
		background-image:    -moz-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* FF3.6 */
		background-image:     -ms-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* IE10 */
		background-image:      -o-linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); /* Opera 11.10+ */
		background-image:         linear-gradient(top, rgba(255,255,255,.1), rgba(0,0,0,0)); 
		border-radius: 3px; 
		-moz-border-radius: 3px; 
		-webkit-border-radius: 3px; 
}
#commentform input[type="submit"]:hover,
#commentform input[type="submit"]:focus,
#commentform input[type="submit"]:active{ 
		color: #fff; 
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(0,0,0,.1))); /* Saf4+, Chrome */
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* Chrome 10+, Saf5.1+ */
		background-image:    -moz-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* FF3.6 */
		background-image:     -ms-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* IE10 */
		background-image:      -o-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1)); /* Opera 11.10+ */
		background-image:         linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,.1));
}



/* --------------------------------------- */
/*	22. FAQs Template
/* --------------------------------------- */
.faq-unit{ padding:15px 15px 15px 50px; background:transparent url(images/faq-bg.png) 12px 13px no-repeat; border-bottom:1px solid #ededed; cursor:pointer; }
.faq-unit:hover{ background-color:#fdfdfd; }
.faq-unit.active{ background:#fafafa url(images/faq-active.png) 12px 13px no-repeat; cursor:default; }
.faq-unit.active:hover{ background-color:#fafafa; }
#content .faq-unit h4.faq-question{ font-size:14px; font-weight:700; margin:0; }
#content .faq-unit:hover h4.faq-question,
#content .faq-unit.active h4.faq-question{ color:#f56734; }
.faq-unit .faq-answer{ padding-top:10px;} 



/* --------------------------------------- */
/*	23. Gallery Template
/* --------------------------------------- */
#content #filter-by { text-align:right; margin-bottom:40px; }
#content #filter-by li{ border:0; margin:0; padding:0; background:none; display:inline;  }
#content #filter-by li a{ display: inline-block; color:#6a6a75; height: 11px; font-size: 12px; line-height: 12px; padding: 8px 10px; margin:0 5px 0 0; border: none; background:#E6E6E6; cursor: pointer; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#content #filter-by li a.active,
#content #filter-by li a:hover{ background:#f56734;	color:#fff;	-webkit-transition: background .2s ease-in-out;	-moz-transition: background .2s ease-in-out; -ms-transition: background .2s ease-in-out; -o-transition: background .2s ease-in-out; transition: background .2s ease-in-out; }
.gallery-item { margin-bottom:30px; }
.gallery-item img{ border: 4px solid #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

.flex-viewport img{ border: 0; border-radius: 0; display: block; }
.flex-viewport { border: 4px solid #e6e6e6; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

article.gallery-item.hentry .post-thumb{ border:none; }
.gallery-item img:hover{ border-color:#d6d6d6; }
#content .gallery-item .item-title { padding-bottom:5px; border-bottom:1px solid #ededed; margin:0px; }
.gallery-item .item-title a{ color:#6a6a75; font-size:13px; font-weight:bold; }
.gallery-item .item-title a:hover{ color:#f56734; }
.gallery-item .item-type-link { display:block; padding-bottom:2px; border-bottom:1px solid #ededed; }
.gallery-item .item-type-link a{ color:#808080; font-size:11px; font-weight:normal; }
.gallery-item .item-type-link a:hover{ color:#f56734; }

.gallery-4-columns { margin-left:-29px;}
.gallery-4-columns .gallery-item{ width:223px; float:left; margin-left:29px;}
.gallery-3-columns { margin-left:-31px;}
.gallery-3-columns .gallery-item{ width:306px; float:left; margin-left:31px;}
.gallery-2-columns { margin-left:-32px;}
.gallery-2-columns .gallery-item{ width:474px; float:left; margin-left:32px;}

#content .gallery-slider ul.slides { margin: 0; }
#content .gallery-slider ul.slides li{ background: none; border-bottom: none; padding:0;}
#content .gallery-slider .flex-control-nav{ position: static; bottom: auto; top: auto; left: auto; right: auto; margin: 5px 0; }
#content .gallery-slider .flex-control-nav li{ display: inline; border: 0; padding: 0; margin: 0; list-style: none; }
.gallery-slider .flex-control-nav li a{ display: inline-block; height: 12px; width: 12px; background: #46A1B4; margin:0 3px; border-radius: 8px; }
.gallery-slider .flex-control-nav li a.flex-active{ background: #F56734 ; }



/* --------------------------------------- */
/*	24. Isotope Styles
/* --------------------------------------- */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */


/* --------------------------------------- */
/*	25. Scroll Top
/* --------------------------------------- */
a#scroll-top{ display:none;	position:fixed;	right:20px;	bottom:20px; height:42px; width:42px; line-height:42px;	background:#377f8f url(images/scroll-top.png) center center no-repeat;	opacity:0.8;	-moz-opacity:0.8;	-webkit-opacity:0.8;	border-radius:4px;	-moz-border-radius:4px;	-webkit-border-radius:4px;	-webkit-transition:all 0.25s ease-in-out; -moz-transition:all 0.25s ease-in-out; -o-transition:all 0.25s ease-in-out; }
a#scroll-top:hover{ background-color:#f56734; }


